.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-input {
  border: none;
  border-bottom: 1px solid black;
  width: 30vh;
}

.auth-input:focus {
  outline: none;
}

.auth-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}
