.today-todo-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  width: 30%;
  max-width: 400px;
  max-height: 500px;

  background-color: #343434;
  /* background-color: rgba(226, 226, 226, 0.5); */
  padding: 10px;
  border-radius: 10px;

  overflow: auto;
  word-break: break-all;
}

.today-todo-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.today-title {
  font-size: 1.5em;
  font-weight: 600;

  margin-bottom: 15px;
}

.todo-title-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-title {
  font-size: 18px;
  font-weight: 600;
}
.todo-list {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.todo-block {
  display: flex;
  align-items: center;

  gap: 5px;
}

.check-circle {
  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid white;

  flex-shrink: 0;
}

.todo-complete {
  text-decoration: line-through;
}
